body {
background-color: #95c2de;
}

.mainbox {
background-color: #95c2de;
margin: auto;
height: 600px;
width: 600px;
position: relative;
}

.err {
color: #ffffff;
font-family: 'Nunito Sans', sans-serif;
font-size: 11rem;
absolute: absolute;
text-align: center;
top: 8%;
}

.far {
position: absolute;
font-size: 8.5rem;
left: 42%;
top: 15%;
color: #ffffff;
}

.msg {
text-align: center;
font-family: 'Nunito Sans', sans-serif;
font-size: 1.6rem;
position:absolute;
left: 16%;
top: 45%;
width: 75%;
}

a {
text-decoration: none;
color: white;
}

a:hover {
text-decoration: underline;
}