.table-wrapper{
    margin: 10px 0px 15px 0px;
    /*margin: 10px 70px 70px;*/
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.35 );
}

.fl-table {
    border-radius: 5px;
    font-size: 1em;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: #eaeaea;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 10px;
}

.fl-table td {
    border-right: 1px solid #ffffff;
    font-size: 0.8em;
}

.fl-table thead {
    background: #eaadad
}

.fl-table thead th:nth-child(odd) {
    background: #dd7373;
}

.fl-table tr:nth-child(even) {
    background: #bdbdbd;
}

.table-wrapper p {
    text-align:center;
    font-size:1.5em;
    margin:0px;
}
